<h2>Stupid Coaching</h2>
<p></p>
<div></div><h5><%=params[:question]%></h5>
<h5><em>- You</em></h5>
</div>
<div>
<p></p>
<h5><%=@answer%></h5>
<h5><em>- Your coach</em></h5>
</div>
<p></p>
<%=link_to "Ask a new question", ask_path%>
